.Btn {
	position: relative;
	width: 90px;
	height: 40px;
	border-radius: 45px;
	/* border: none; */
	background-color: #333;
	color: white;
	box-shadow: 0px 10px 10px #333 inset,
		0px 5px 10px rgba(5, 5, 5, 0.212),
		0px -10px 10px #333 inset;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: inherit;
	font-size: 1.5rem;	
	text-decoration: none;
}

.Btn::before {
	width: 70%;
	height: 2px;
	position: absolute;
	content: "";
	filter: blur(1px);
	top: 7px;
	border-radius: 50%;
}

.Btn::after {
	width: 70%;
	height: 2px;
	position: absolute;
	content: "";
	filter: blur(1px);
	bottom: 7px;
	border-radius: 50%;
}

.Btn:hover {
	animation: jello-horizontal 0.9s both;
}

@keyframes jello-horizontal {
	0% {
		transform: scale3d(1, 1, 1);
	}

	30% {
		transform: scale3d(1.25, 0.75, 1);
	}

	40% {
		transform: scale3d(0.75, 1.25, 1);
	}

	50% {
		transform: scale3d(1.15, 0.85, 1);
	}

	65% {
		transform: scale3d(0.95, 1.05, 1);
	}

	75% {
		transform: scale3d(1.05, 0.95, 1);
	}

	100% {
		transform: scale3d(1, 1, 1);
	}
}
