/* src/index.css */
@font-face {
  font-family: "MyFont";
  src: url("./assets/fonts/Workbench/Workbench-Regular-VariableFont_BLED\,SCAN.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  position: relative;
  /* нужно для ::before */
  font-family: "MyFont", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  background: #050505;
  /* просто чёрный запасной фон */
  color: #ffffff;
  padding: 1rem;
  overflow-x: hidden;
}

/* Размытый флаг-слой под всем контентом */
body::before {
  content: "";
  position: fixed;
  inset: 0;
  /* top:0; right:0; bottom:0; left:0 */
  z-index: -1;

  background: url("./assets/flag-bg.png") no-repeat center top fixed;
  background-size: cover;

  filter: blur(3px);
  transform: scale(1.05);
  /* чтобы не было размытых краёв */
}